<div id="<%= dom_id applicant %>">
  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= applicant.cpf %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= applicant.income %>
  </p>

  <p>
  <strong>Score:</strong>
  <%= applicant.income %>
  </p>
</div>
